@media screen and (max-width:728px)
{
    body {
        max-width: 728px;
        margin: 0;
    }
    #blockPage {
        max-width: 98%;
        margin: auto;
    }
    header {
        margin-left: 2%;
        margin-right: 2%;
    }
    .register {
        position: absolute;
        top: 20px;
        right: 20px;
        padding: 0;
        margin: 0;
        border-bottom: none;
    }
    .navDesktop {
        display: block;
    }
    .navDesktop img {
        position: relative;
        top: 5px;
        left: 5px;
    }
    ul {
        display: flex;
        justify-content: space-around;
        padding: 0;
    }
    
    li:hover {
        border-top: none;
        border-bottom: 2px solid #0065FC;
    }
    .listnav {
        border-top: none;
        border-bottom: 2px solid transparent;
        text-align: center;
    }
    .searchButton {
        display: none;
    }
    .searchButtonTablet {
        text-align: right;
        color: white;
        background-color: #0065FC;
        min-width: 50px;
        height: 50px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;  
     }
     .filtres {
         display: block;
         width: 250px;
     }
     .filtres > .filtresText, .filtresTextIcone {
         justify-content: flex-start;         
     }
    .mostpopularBox {
        margin-left: 0;
        margin-bottom: 5%;
        border-radius: 0%;
    }
    .hostingBox {
        background-color: white;
    }
    .cadreHost {
        width: 325px;
        box-shadow: 3px 10px 10px #F2F2F2, -3px -3px #F2F2F2 ;
        margin-top: 20px;
    }
    .cadreHostPopular {
        margin: 0 10px 40px 10px;
    }
    .blockActivity {
        justify-content: center;
    }
    .activityTitle {
        padding-left: 1em;
    }
    .activity__block {
        width: 330px;
        height: 100%;
    }
    .cadre__activity__img {
        width: 100%;
    }
    footer {
        flex-direction: column;
    }
    footer > .footerDetail {
        margin-left: 1em;
    }
}